{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": standard,
    "rules": {
        "camelcase": ["error", { "properties": "always" }],
        "indent": ["error", "tab"],
        "no-console": 0,
        "no-tabs": 0,
        "no-new": 0,
    },
    "plugins": ["html"]
}
